<div class="w3-row w3-padding-64" id="about">

<div class="Sobre">
    <div class="sobre">
        <h1>Sobre</h1>
        <h3>O intuito do projeto foi criar uma aplicação angular de layout responsivo com páginas Home, Sobre e Boletim.</h3>
        <h3>O objetivo da aplicação é criar um boletim onde é apresentada uma tela com os dados de 20 alunos cadastrados, esses dados são baseados em um array aonde caso sua nota seja menor que 6 sua situação é apresentada como "Reprovado"e caso o contrário é apresentada como "Aprovado", assim automatizando um trabalho que antes seria feito manualmente. </h3>
     </div>
</div>


</div>

